<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
	<script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<main class="flex justify-center max-width h-screen">
	<div class="flex flex-row">
		<h1>Welcome, <span th:text="${name}">User</span>!</h1>
		<p>Email: <span th:text="${email}">unknown</span></p>
		<p th:if="${profileUrl}">
			<a th:href="${profileUrl}" target="_blank">View Spotify Profile</a>
		</p>
		<p th:if="${error}" style="color: red" th:text="${error}"></p>
	</div>
</main>
</body>
</html>